body {
    background-color: #2D283E;
    font-family: 'Roboto', sans-serif;
    color: #D1D7E0;
  }

.form-container {
    margin: 6rem auto;
    padding: 4rem;
    border-radius: 1rem;
    max-width: 30rem;
  }
  
  h1 {
    font-weight: 500;
    font-size: 1.7rem;
    color: #808893;
  }
  
  input {
    border: 2px solid #d3d9f0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.3rem;
    height: 3.2rem;
    padding: 1rem;
  }
  
  input:focus, button:focus {
    border: 2px solid #2659ff;
  }
  
  input[type=submit] {
    margin: 2.4rem 0;
    background-color: #2659ff;
    border: none;
    color: white;
    font-size: 1.3rem;
    height: 4rem;
  } 
  
  label {
    display: block;
    font-weight: 500;
    padding: 2rem 0 0.5rem;
  }
  
  .select-group {
    position: relative;
  }
  
  .button {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-radius: .3rem;
    height: 3.2rem;
    width: 100%;
    background-color: white;
    border: 2px solid #d3d9f0;
    position: relative;
  }
  
  .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 4px;
    transform: rotate(45deg);
  }
  
  .dropdown {
    position: absolute;
    width: 100%;
    top: 7rem;
    box-sizing: border-box;
    border: 2px solid #d3d9f0;
    border-radius: .3rem;
    overflow: hidden;
  }
  
  .option {
    display: none;
  }
  
  .select-item {
    display: block;
    padding: 1rem;
    font-weight: 400;
    background-color: #FFFFFF;
    color: black;
  }
  
  .select-item:hover {
    background-color: #f2f2f2;
  }
  
  .hidden {
    display: none;
  }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}
.nav-menu {
  position: fixed;
  left: -200%;
  top: 5rem;
  flex-direction: column;
  background-color: #1F2833;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
  left: 0;
}

.nav-item {
  margin: 2.5rem 0;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.logo {
  text-indent: -999999px;
}